.login {
  width: 100%;
  height: 100%;
  background-color: #eee;
}
.login .top {
  padding-top: 40px;
}
.login .top .icon {
  width: 50px;
  height: 50px;
}
.login .top .title {
  font-size: 20px;
  margin-top: 10px;
}
.login .inputs {
  margin-top: 20px;
  padding: 10px;
}
.login .buttons {
  padding: 10px;
}
.login .buttons a {
  margin-top: 10px;
}
.login .buttons .registerBtn {
  background-color: #32db64;
  color: white;
}
.login .otherWay {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.login .otherWay .line {
  width: 30%;
  border-bottom: 1px dashed gray;
  height: 8px;
}
