.headerWrapper {
  position: relative;
  height: 56px;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
}
.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 56px;
  cursor: pointer;
}
.nav {
  width: 960px;
  height: 100%;
  padding-right: 70px;
  box-sizing: border-box;
  margin: 0 auto;
}
.navItem {
  line-height: 56px;
  padding: 0 15px;
  font-size: 17px;
  color: #333;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
  color: #969696;
}
.active {
  color: #ea6f5a;
}
.navSearch {
  width: 160px;
  height: 38px;
  border: none;
  outline: none;
  border-radius: 19px;
  margin-top: 9px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #eee;
  font-size: 14px;
  margin-left: 20px;
}
.addition {
  position: absolute;
  right: 0;
  top: 0;
  height: 56px;
}
.button {
  float: right;
  margin-top: 9px;
  line-height: 38px;
  border-radius: 19px;
  border: 1px solid #ec6149;
  margin-right: 20px;
  padding: 0 20px;
  font-size: 14px;
}
.reg {
  color: #ec6159;
}
.writting {
  color: #fff;
  background-color: #ec6159;
}
.iconai219 {
  margin-left: -28px;
}
.focused {
  width: 200px;
}
.iconfocused {
  padding: 5px;
  background-color: gray;
  border-radius: 15px;
}
