.topicWrapper {
  overflow: hidden;
  padding: 20px 0 10px 0;
  margin-left: -10px;
}
.topicItem {
  float: left;
  height: 32px;
  line-height: 32px;
  padding-right: 10px;
  margin-left: 18px;
  font-size: 14px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background-color: #f7f7f7;
  margin-bottom: 18px;
}
.topicImg {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  display: block;
  float: left;
}
